<div class="page" ng-controller='IndexController'>
    <div class="task" ng-repeat=" page in pages | orderBy:'page_number'">
        <div>
            <span class='title'><a href='#page={[{ page.page_number }]}'>{[{ page.title }]}</a></span>
            <span class='page-number'><a href='#page={[{ page.page_number }]}'> {[{ page.page_number }]}</a> </span>
        </div>
    </div>
    <div class='add-new-page'>
        <i class='fa fa-plus'></i>
        <span>Add a new page</span>
    </div>
</div>
