<div class="page" ng-controller='IndexController'>
    <div class="task" ng-repeat=" page in pages | orderBy:'page_number'">
        <div>
            <span class='title'><a href='#page={[{ page.page_number }]}'>{[{ page.title }]}</a></span>
            <span class='page-number'><a href='#page={[{ page.page_number }]}'> {[{ page.page_number }]}</a> </span>
        </div>
        <!--<div ng-switch on='bullet.type'>-->
        <!--<i class='fa fa-square' ng-switch-when='task'></i>-->
        <!--<i class='fa fa-circle' ng-switch-when='event'></i>-->
        <!--<i class='fa fa-circle-o' ng-switch-when='note'></i>-->
        <!--{[{ bullet.name }]}-->
    <!--</div>-->
    </div>
</div>
