<div class="page" ng-controller='PageController'>
    <div class='title'>{[{ page.title }]}</div>
    <div class="bullet-wrapper" ng-repeat=" bullet in bullets ">
        <div ng-switch on='bullet.type'>
            <i class='fa ' ng-class='{"fa-check-square": bullet.done, "fa-square": !bullet.done}' ng-switch-when='task'></i>
            <i class='fa ' ng-class='{"fa-check-circle": bullet.done, "fa-circle": !bullet.done}' ng-switch-when='event'></i>
            <i class='fa ' ng-class='{"fa-check-circle-o": bullet.done, "fa-circle-o": !bullet.done}' ng-switch-when='note'></i>
            <span ng-class='{done: bullet.done}' ng-click='toggleDone(bullet)'> {[{ bullet.name }]} </span>
        </div>
    </div>
    <div class="page-control">
        <i class='fa fa-angle-double-left' title='First page' ng-click='firstPage()'></i>
        <i class='fa fa-angle-left' title='Previous Page' ng-click='prevPage()'></i>
        <span class='current-page-number'> {[{ page.page_number }]} </span>
        <i class='fa fa-angle-right' title='Next Page' ng-click='nextPage()'></i>
        <i class='fa fa-angle-double-right' title='Last Page' ng-click='lastPage()'></i>
    </div>
</div>
