<!DOCTYPE html>
{% load static %}
<html ng-app='jApp'>
    <head>
        <title>Journal</title>
        <link rel="stylesheet" href="{% static 'bower_components/fontawesome/css/font-awesome.min.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{% static 'dist/css/app.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
    </head>

    <body>
        <header id='header' ng-controller='HeaderController' >
            <div class='account' class='dropdown'>
                <a class='dropdown-toggle'>
                    <i class='fa fa-user'></i> 
                </a>
                <ul class='dropdown-menu'>
                    <li>
                        <a> Settings</a>
                    </li>
                    <li>
                        <a href='{% url "logout" %}'> Logout </a>
                    </li>
                        
                </ul>                        
            </div>
            <div class='header-nav-btns'>
                <button class='add' ng-click='openAddModal()'>Add</button>
            </div>
        </header>
        <aside id='side-bar' ng-controller='SidebarController' ng-class='{open: isOpen, closed: !isOpen}'>
            <div class='toggle' ng-click="isOpen = !isOpen">
                <i class='fa ' ng-class='{"fa-angle-double-right": !isOpen, "fa-angle-double-left": isOpen}' ></i>
            </div>
            <ul>
                <li ng-click='addElement("task")' popover="Add a new Task" popover-placement='right' popover-trigger="mouseenter" > 
                    <i class='fa fa-square'ng-class='{"float-right": !isOpen}'></i> <span ng-show='isOpen' >Add Task</span>
                </li>
                <li ng-click='addElement("note")' popover="Add a new Note" popover-placement='right' popover-trigger="mouseenter"> 
                    <i class='fa fa-circle' ng-class='{"float-right": !isOpen}'></i> <span ng-show='isOpen'>Add Note</span>
                </li>
                <li ng-click='addElement("event")'popover="Add a new Event" popover-placement='right' popover-trigger="mouseenter"> <i class='fa fa-circle-o' ng-class='{"float-right": !isOpen}'>
                    </i> <span ng-show='isOpen'>Add Event</span>
                </li>
                <li ng-click='addPage()' popover="Add a new Page" popover-placement='right' popover-trigger="mouseenter" > 
                    <i class='fa fa-file-o'  ng-class='{"float-right": !isOpen}'></i> 
                    <span ng-show='isOpen'>Add Empty Page</span>
                </li>
            </ul>
        </aside>
        <section id='content'>
            <div class='page-container' ng-view></div>
        </section>
    </body>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{% static  'dist/js/app.js' %}"></script>
    <script type="text/javascript" src="{% static  'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
    <script type="text/javascript" src="{% static  'bower_components/angular-ui-utils/ui-utils.min.js' %}"></script>
</html>
