{% extends 'base.html' %}

{% block header %}
    <ul class='header-nav'>
        <li><a href='{% url 'user_login'%}'>Sign in</a></li>
        <li>Sign up</li>
        <li>Help</li>
    </ul>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}

{% else %}
    <div class='container'>
        <h3>Welcome to Bullet Journal </h3>
        <div class='homepage-title'>
            <h5> Idea and inspiration </h5>
            <a href='http://www.bulletjournal.com'> Bullet journal</a>
        </div> 
        <div class='auth-container'> 
            <a class='sign-in' href='{% url "user_login" %}'>Sign in</a>
            <a class='sign-up' href='{% url "registration_register" %}'>Sign up</a>
        </div>
    </div>
{% endif %}
{% endblock %}
